.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid rgb(94, 94, 94);
  transition: 0.3s ease background-color;
}

.tw-followCard-button:hover {
  background-color: #69cfff;
}

.tw-followCard-Follow {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid rgb(94, 94, 94);
  background-color: rgb(23, 24, 23);
  color: #fff;
  width: 130px;
}

.tw-followCard-button.is-following:hover {
  color: #eb1111;
  background-color: rgba(248, 87, 87, 0.336);
  border: 1px solid #db2a2a;
}

.tw-followCard-button.is-following:hover .tw-followCard-Follow {
  display: none;
}
.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}
.tw-followCard-stopFollow {
  display: none;
}
